/* --------------------
        全体
-------------------- */

:root {
  --bg-primary: #191970;
  --bg-secondary: #f0f8ff;
  --text-primary: #dfdfdf;
  --text-secondary: #1f1f1f;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 30px;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections {
  margin: auto;
  padding: auto;
  max-width: 60rem;
  width: 100%;
}
/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--text-primary);
  border-bottom: dashed 0.1em var(--text-primary);
}

/* --------------------
        リンク
-------------------- */

a {
  color: #f4a460;
  text-decoration: none;
}

/* --------------------
        アイコン
-------------------- */

.icon {
  width: 13rem;
  height: 13rem;
}
/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}
li:before {
  content: "★";
  color: var(--text-primary);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px var(--text-secondary);
  min-width: 70%;
  color: var(--text-secondary);
}
tr {
  background-color: var(--bg-secondary);
}
tr:nth-child(2n) {
  background-color: var(--bg-secondary);
}
th {
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
th, td {
  border: solid 1px var(--text-secondary);
  padding: 0.5rem;
}

/* --------------------
          フッター
-------------------- */

footer {
  text-align: center;
  margin-top: 3rem;
  padding-top: 2rem;
  margin-bottom: 3rem;
  border-top: dashed 2px var(--text-primary);
  width: 100%;
}