/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #00a0a0;
  --bg-primary: #191970;
  --bg-secondary: #fffafa;
  --text-primary: #dfdfdf;
  --text-secondary: #1f1f1f;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: #333;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}

/* --------------------
        アイコン
-------------------- */

.icon {
  width: 13rem;
  height: 13rem;
}
/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}
li:before {
  content: "★";
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
  color: var(--text-secondary);
}
tr {
  background-color: var(--bg-secondary);
}
tr:nth-child(2n) {
  background-color: var(--bg-secondary);
}
th {
  background: var(--theme-color);
  color: var(--text-primary);
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}

/* --------------------
          フッター
-------------------- */

footer {
  text-align: center;
  margin-top: 3rem;
  padding-top: 2rem;
  margin-bottom: 3rem;
  border-top: dashed 2px var(--theme-color);
}